<section class="text-center p-5">
  <div class="py-5 my-5">
    <div class="header pt-5">
      <div class="item-container">
        <h1>ABOUT COMPONENT</h1>
        <i class="fa-solid fa-star"></i>
      </div>
    </div>

    <div class="items pb-5 mb-5">
      <div class="container">
        <div class="row">
          <div class="d-flex gx-5">
            <div class="col-md-6">
              <p>
                Freelancer is a free bootstrap theme created by Route. The
                download includes the complete source files including HTML, CSS,
                and JavaScript as well as optional SASS stylesheets for easy
                customization.
              </p>
            </div>
            <div class="col-md-6 d-flex">
              <p>
                Freelancer is a free bootstrap theme created by Route. The
                download includes the complete source files including HTML, CSS,
                and JavaScript as well as optional SASS stylesheets for easy
                customization.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
