section {
  background-color: #1abc9c;
  color: #ffffff;
  height: 90%;
}
.items {
  display: flex;
  justify-content: center;
  align-items: center;
}
p {
  text-align: left;
  margin-left: 30px;
  /* margin-right: -10px; */
}
.header h1::before {
  background-color: #fff;
}
.header h1::after {
  background-color: #fff;
}
